<h1>Advertisers#index</h1>
<p>Find me in app/views/advertisers/index.html.erb</p>


<%= form_tag zip_path(), method: :get do %>
<%= text_field_tag :zip %>
<%= submit_tag("Save Data", name: "") %>
<% end %>

<h2>Foods</h2>
