@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"

.navbar-default
  background-color: #A5DFDF
  height: 100px

ul.nav.navbar-nav.navbar-right
  margin-right: -70px
  padding-bottom: 0

/* nav links */
.navbar-default .navbar-nav > li > a
  color: #FFFFFF
  padding-top: 40px
  font-size: 24px
  font-family: 'Monda'
  margin-right: 2px
  font-weight: bolder
  -webkit-text-stroke: 1px #469797

/* logo container */
.navbar-default .navbar-brand
  padding: 0 0 0 2px
  margin: 0


/* logo */
img
  padding: 0
  margin-left: -70px
  width: 18em
  height: 6em

