/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* Navbar Styling */

.navbar-default {
  background-color: black;
  border-color: transparent;
  height: 100px;
  opacity: 0.4;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
  padding-bottom: 0;
  opacity: 0.6;
}

/* nav links */
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  padding-top: 40px;
  font-size: 24px;
  font-family: 'Monda';
  margin-right: 20px;
  -webkit-text-stroke: 1px #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
}

/* add color to nav links on hover */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFF19A;
}

/* remove color container from hover */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #FFF19A;
}
