// Place all the styles related to the food_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_food {
cursor: pointer;
}

.fridge {
  margin: auto;
}

*{
  padding: 0;
  margin: 0;
}

html {
  background: #a5dfdf;
}

section .open {
    background: #a5dfdf;
}

section {
  font: 14px 'Ubuntu', sans-serif;
  position: relative;
  left: 0;
  -webkit-transition: left .4s;
  -0-transition: left .4s;
  transition: left .4s;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 20px;
  background: gray;
  color: white;
  -webkit-transition: left .4s;
  -0-transition: left .4s;
  transition: left .4s;
}

.open {
  left: 0;
}

.open .nav {
  left: -340px;
}

.button-fruit {
  cursor: pointer;
}

.button {
  cursor: pointer;
}
