// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pin {
	display: inline-block;
	text-align: center;
}

.fridge h1 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 40px;
  color: #993333;
}

.fridge h2 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 60px;
  color: #993333;
}

.fridge-recipe{
  margin: 0 auto;
  display: block;
}

img {
  -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 20px;
   border: 1px solid #FFF;
   margin-left: auto;
   margin-right: auto;
}

div.col-sm-4 {
  min-height: 350px;
}

.purchases li {
  color: white;
  font-size: 20px;
  font-family: 'Walter Turncoat', cursive;
}

.nav-cat h3 {
  font-size: 22px;
  font-family: 'Walter Turncoat', cursive;
}

