// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "font-awesome";


/* Navbar container Styling */

.navbar-default {
  border-color: transparent;
  height: 100px;
  width: auto;
/*  background-color: #A5DFDF;*/
  background: rgba(0, 0, 0, 0.5);
}

/* nav links */

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  padding-top: 35px;
  font-size: 24px;
  margin-right: 20px;
  -webkit-text-stroke: 1px #FFF;
  font-family: 'Oswald';
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
}

#h1-head {
  margin-top: 400px;
  color: orange;
  text-align: center;
}

/*@media only screen and (max-width: 780px) {
.collapsing, .in {background-color: #000; opacity: 0.4}
}
*/
/* brand */

.navbar-default .navbar-brand {
  font-family: 'Pacifico';
  font-size: 4em;
  color: #FFFFFF;
  margin-top: 0.3em;
  text-decoration: underline;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

/* counter */
div#waste-counter{
  margin: 0;
  padding: 4em 0 4em 0;
  border: 1px black;
  background-color: #A5DFDF;
}

#counter {
  text-align: center;
}

div.clearfix {
  text-align: center;
}

.callout {
  height: 263px;
  width: 100%;
  background-color: #A5DFDF;
}

.inner-container {
  padding-top: 5.5em;
}

/* Header Page */

div#page1 {
  height: 750px;
  width: 100%;
  background: url("http://i.imgur.com/NCzuEQJ.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* About page */

#page2 {
  height:auto;
  width:100%;
  background:#FFFFFF;
  padding-top: 20px;
}

.about-nag {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2em;
  padding: 0 4em 0 4em;
}

.title {
  font-weight: bold;
}

/* Contact */

#page3 {
  height:700px;
  width:100%;
  background:#FFFFFF;
}

.team-nag{
  text-align: center;
  padding: 0 4em 0 4em;
  font-size: 1.5em;
  margin: 2em 0 2em 0;
}

/* body stylessss */

h1 {
  margin: 0 0 0 0;
  padding: 1em 0 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  text-align: center;
  padding: 1em 0 1em 0;
  margin: 0 0 0 0;
  color: #FFF;
}

div.wrapper {
   width: 1280px;
   margin: 0 auto;
}

div.grid-unit {
  position: relative;
  width: 33.33%;
  float: left;
  display: inline;
  margin: 0px 0px 1.8em 0px;
  text-align: center;
}

div.circle:after {
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  content: "";
  display: block;
  width: 90%;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 50%;
}

img {
  width: auto;
  max-width: 80%;
  vertical-align: top;
  height: auto;
  margin: 0;
}

section.team {
  padding: 5.625em 0;
  text-align: center;
}

p.team-emph {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: 0;
  font-family: "Oswald";
}

p.team-emph a {
  font-size: 1.5em;
  font-family: "Oswald";
}

h3 {
  font-size: 1.5em;
  font-family: "Oswald";
}

div.circular {
  width: 100%;
  height: auto;
  margin: 0 0 1.875em 0;
  padding: 0 3.125em;
}

img.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0.313em solid #d4d4d4;
}

section {
  margin: 0 4em 0 4em;
}
